lsi: false
safe: true
source: ./
incremental: false
highlighter: rouge
gist:
  noscript: false
kramdown:
  math_engine: mathjax
  syntax_highlighter: rouge
theme: jekyll-theme-slate
titles_from_headings:
  enabled:     true
  strip_title: true
  collections: false
relative_links:
  enabled:     true
  collections: false
